﻿@model FricFrac.Models.FricFrac.EventCategory
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<div class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1>Fric-frac</h1>
</div>
<div class="show-room entity">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Event Categorie</h2>
            <a href="/EventCategory/UpdatingOne/@Model.Id" class="tile">
                <span class="icon-pencil"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/EventCategory/InsertingOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a href="/EventCategory/DeleteOne/@Model.Id" class="tile">
                <span class="icon-remove"></span>
                <span class="screen-reader-text">Delete One</span>
            </a>
            <a href="/EventCategory/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="EventCategory-Name">Naam</label>
                <input id="EventCategory-Name" name="EventCategory-Name" type="text" value="@Model.Name" readonly>
            </div>

        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</div>