﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/User/InsertOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">User</h2>
            <button type="submit" value="/User/InsertOne" class="tile">
                <span class="icon-disk"></span>
                <span class="screen-reader-text">Insert One</span>
            </button>
            <a href="/User/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="User-Name">Naam</label>
                <input id="User-Name" name="User-Name" type="text" value="" required />
            </div>
            <div>
                <label for="User-Salt">Zout</label>
                <input id="User-Salt" name="User-Salt" type="text" value="" required />
            </div>
          
            <div>
                <label for="User-HashedPassword">Hash</label>
                <input id="User-HashedPassword" name="User-HashedPassword" type="text" value="" />
            </div>
        
            <div>
                <label for="User-PersonId">Persoon</label>
                <select id="User-PersonId" name="User-PersonId">
                    @foreach (var item in ViewBag.Persons)
                    {
                        <option value="@item.Id">@item.LastName</option>
                    }
                </select>
            </div>
            <div>
                <label for="User-RoleId">Rol</label>
                <select id="User-RoleId" name="User-RoleId">
                    @foreach (var item in ViewBag.Roles)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>