﻿@*
    Een vieuw about me
*@
@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<h3>Lionel Messi</h3>

<article>
    <section>
        <figure>
            <img src="~/images/Leo messi.jpg" alt="Leo messi" />
            <figcaption>Lionel Messi</figcaption>
        </figure>
        <div>
            <h4><b>Wie is Lionel Messi?</b></h4>
            <p>
                Lionel Andrés Messi Cuccittini[1] (Rosario (Argentinië), 24 juni 1987) is een Argentijns-Spaans[2] profvoetballer die bij voorkeur als rechtsbuiten speelt.
                Hij stroomde in 2004 door vanuit de jeugdopleiding van FC Barcelona, waar hij in november 2017 zijn contract verlengde tot medio 2021.
                Messi debuteerde in 2005 in het Argentijns voetbalelftal.Vanwege zijn lengte en snelheid draagt hij de bijnaam La Pulga (De Vlo).
                Messi werd in 2009, 2010, 2011, 2012 en 2015 uitgeroepen tot beste voetballer ter wereld.
            </p>
        </div>
    </section>
    <section>
        <figure>
            <img src="~/images/La Masia.jpg" alt="La Masia" />
            <figcaption>Jeugdopledingscentrum FC Barcelona "La Masia"</figcaption>
        </figure>
        <div>
            <h5><b>Jeugd</b></h5>

            <p>
                Messi begon op vijfjarige leeftijd met voetballen bij de buurtclub Grandoli FC, die door zijn vader werd geleid.
                Toen hij zeven jaar werd, mocht hij zich inschrijven bij Newell's Old Boys en daarna bij de cantera (jeugdopleiding) van FC Barcelona.
                In het seizoen 2002/2003 vormde hij samen met onder meer Francesc Fàbregas, Gerard Piqué, Marc Valiente en Víctor Vázquez in de Cadete A het Baby Dream Team.
                Via Barça C en Barça B werkte Messi zich op naar de hoofdselectie.
            </p>

        </div>
    </section>
    <section>
        <figure>
            <img src="~/images/Messi met Argentinië tegen Portugal in 2011.jpg" alt="Messi met Argentinië tegen Portugal in 2011"/>
            <figcaption>Messi met Argentinië tegen Portugal in 2011</figcaption>
        </figure>
        <div>

            <h6><b>Nationale elftal</b></h6>
            <p>
                Op 17 augustus 2005 debuteerde Messi in het oefenduel tegen het Hongaarse voetbalelftal in het nationale elftal van Argentinië.
                In de 63e minuut verving hij Lisandro López. Messi werd nog geen minuut later het veld uitgestuurd. Scheidsrechter Markus Merk zag Messi tijdens een duel een slaande beweging maken, hoewel hij zich in werkelijkheid losrukte van zijn directe tegenstander, die aan zijn shirt hing.
                Op 1 maart 2006 maakte Messi tegen Kroatië zijn eerste doelpunt in het Argentijnse elftal. Hij gaf ook de assist voor het doelpunt van Carlos Tévez.
            </p>

            <h7><b>WK onder 20</b></h7>
            <p>
                Messi speelde op het WK onder 20 in 2005, dat in juni en juli in Nederland werd gehouden. Hij trad in de voetsporen van zijn ploeggenoot bij Barcelona Javier Saviola door wereldkampioen te worden met Argentinië en door tevens de Gouden Schoen (topscorer van het toernooi) en de Gouden Bal (meest waardevolle speler van het toernooi volgens de pers) te veroveren.
                Messi scoorde zes keer, waaronder tweemaal (beide vanaf de penaltystip) in de finale tegen Nigeria.
            </p>

            <h8><b>WK 2006</b></h8>
            <p>
                Messi behoorde tot de Argentijnse selectie voor het WK 2006. In de tweede wedstrijd tegen Servië en Montenegro maakte hij als invaller voor Maxi Rodríguez zijn WK-debuut. Messi kwam in het veld bij een 3-0 stand, gaf vervolgens de assist voor de treffer van Hernán Crespo en maakte zelf het vijfde Argentijnse doelpunt op aangeven van het andere Argentijnse toptalent Tévez. Nadien zou Messi nog twee wedstrijden spelen op het WK 2006: hij startte tegen Nederland in de basis en viel in tegen Mexico in de achtste finale. In de kwartfinale moest Argentinië het toernooi verlaten na door strafschoppen uitgeschakeld te zijn door gastland Duitsland.
            </p>

            <h9><b>Olympische Spelen 2008</b></h9>
            <p>
                Messi in actie tegen Brazilië op de Olympische Spelen
                In 2008 won Messi met Argentinië goud op de Olympische Zomerspelen van Bejing. In de finale werd met 1-0 gewonnen van Nigeria. Messi scoorde tegen Ivoorkust in de groepsfase en tegen Nederland in de kwartfinale.
            </p>

            <h10><b>WK 2010</b></h10>
            <p>
                In 2010 behoorde Messi tot de Argentijnse selectie voor het WK. Hij speelde alle groepswedstrijden, de 1/8ste finale en de kwartfinale, waarin Argentinië met 4-0 verloor tegen Duitsland.
            </p>
            <h11><b>WK 2014</b></h11>
            <p>
                Op het WK 2014 verloor Argentinië de finale met 1-0 van Duitsland. Aan het einde van het toernooi werd Messi uitgeroepen tot beste speler van het WK, voor Thomas Müller en Arjen Robben.
            </p>
            <h12><b>Copa América Centenario</b></h12>
            <p>
                Ter ere van het honderdjarig bestaan organiseerde de CONMEBOL in 2016 de Copa América Centenario. Messi deed tijdens de eerste groepswedstrijd tegen Chili niet mee vanwege een rugblessure. Tijdens de tweede kwam hij na 61 minuten in het veld, tegen Panama (dat inmiddels met tien man op het veld stond). Argentinië stond op dat moment met 1-0 voor. 26 minuten later was het 4-0 door een hattrick van Messi (eindstand: 5-0). Het was de eerste keer in de 110-jarige geschiedenis van het Argentijns voetbalelftal dat een speler die inviel een hattrick scoorde.[bron?] In de met 4-1 gewonnen kwartfinale tegen Venezuela gaf Messi de assist voor de 1-0 en scoorde hij zelf de 3-0. Tijdens de met 0-4 gewonnen halve finale tegen de Verenigde Staten gaf Messi de assists voor de 0-1 en de 0-4. Zelf scoorde hij de 0-2 vanuit een vrije trap. De finale tegen Chili bleef tot en met de verlengingen 0-0. Tijdens een beslissende strafschoppenreeks miste Messi de eerste penalty voor Argentinië, dat de serie met 4-2 verloor. Messi verloor zo voor het derde jaar op rij een finale met de nationale ploeg en ook voor de derde keer een finale van de Copa América, na die in 2007 en 2015. Direct na de wedstrijd kondigde Messi aan te stoppen als international, maar hier kwam hij zeven weken later op terug.
            </p>
            <h13><b>Topscorer aller tijden</b></h13>
            <p>
                Op 1 september 2016 maakte Messi het enige doelpunt tijdens een met 1-0 gewonnen WK-kwalificatiewedstrijd tegen Uruguay. Dit was zijn 56e doelpunt voor de nationale ploeg van Argentinië, waarvan hij daarmee gedeeld topscorer aller tijden werd, samen met Gabriel Batistuta. Op 16 november maakte hij vanuit een vrije trap de 1-0 in een met 3-0 gewonnen WK-kwalificatiewedstrijd tegen Colombia. Daarmee werd hij alleen topscorer aller tijden van het Argentijnse elftal.
            </p>
            
        </div>
    </section>
</article>
