﻿
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<header class="control-panel">
    <h1 class="banner">Fric-frac</h1>
</header>
<section id="show-room">
    <p>Hier komt de Eventkalender</p>
</section>
